/**
 * @provides phorge-flag-css
 */

.phorge-flag-icon {
  padding: 8px;
  background: transparent 0 0 no-repeat;
}

.phui-oi .phorge-flag-icon {
  float: left;
  margin: 2px;
  margin-right: 8px;
  margin-bottom: 0;
}

.phorge-flag-radio {
  padding-left: 18px;
  margin: 1px;
  background: transparent 0 0 no-repeat;
}

.phorge-flag-color-0 {
  background-image: url(/rsrc/image/icon/fatcow/flag_red.png);
}

.phorge-flag-color-1 {
  background-image: url(/rsrc/image/icon/fatcow/flag_orange.png);
}

.phorge-flag-color-2 {
  background-image: url(/rsrc/image/icon/fatcow/flag_yellow.png);
}

.phorge-flag-color-3 {
  background-image: url(/rsrc/image/icon/fatcow/flag_green.png);
}

.phorge-flag-color-4 {
  background-image: url(/rsrc/image/icon/fatcow/flag_blue.png);
}

.phorge-flag-color-5 {
  background-image: url(/rsrc/image/icon/fatcow/flag_pink.png);
}

.phorge-flag-color-6 {
  background-image: url(/rsrc/image/icon/fatcow/flag_purple.png);
}

.phorge-flag-color-7 {
  background-image: url(/rsrc/image/icon/fatcow/flag_finish.png);
}

.phorge-flag-ghost {
  background-image: url(/rsrc/image/icon/fatcow/flag_ghost.png);
}

.phorge-flag-select-control .phorge-flag-select-label {
  border: 1px solid #aaaaaa;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 4px 4px 0;
}

.phorge-flag-select-control .phorge-flag-select-checkbox {
  position: absolute;
  top: 2px;
  left: 4px;
  width: auto;
}

.phorge-flag-select-control .phui-icon-view {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 24px;
}
