/**
 * @provides phorge-action-list-view-css
 */

.device .phorge-action-list-view {
  padding: 4px 0;
  display: none;
}

!print .phorge-action-list-view {
  padding: 4px 0;
  display: none;
}

.device .phuix-dropdown-menu .phorge-action-list-view {
  /* When an action list view appears inside a dropdown menu, don't hide it
     by default. */
  display: block;
  padding: 0;
}

.device .phorge-action-list-view.phorge-action-list-toggle,
.device-desktop .phui-document-content
  .phorge-action-list-view.phorge-action-list-toggle {
  display: block;
  width: 200px;
  border: 1px solid {$lightgreyborder};
  border-radius: 3px;
  position: absolute;
  right: 16px;
  top: 42px;
  background: #fff;
  box-shadow: {$dropshadow};
  padding: 4px 0;
}

.device-phone .phorge-action-list-view.phorge-action-list-toggle {
  right: 8px;
  top: 38px;
}

.phorge-action-view {
  position: relative;
}

.phorge-action-view button.phorge-action-view-item {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
  width: 100%;
  text-align: left;
  text-shadow: none;

  border-radius: 0;
  color: {$anchor};
  font: inherit;
  display: inline;
  min-width: 0;
}

.phorge-action-view button.phorge-action-view-item .phui-icon-view {
  color: {$darkbluetext};
}

.phorge-action-view button.phorge-action-view-item,
.phorge-action-view-item {
  padding: 4px 8px 6px 8px;
  display: block;
  text-decoration: none;
  color: {$darkbluetext};
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.action-has-icon button.phorge-action-view-item,
.action-has-icon .phorge-action-view-item {
  padding: 4px 4px 4px 28px;
}

.device-desktop .phorge-action-view-href:hover
  .phorge-action-view-item {
    text-decoration: none;
    background: rgba({$alphablue}, .08);
    color: {$sky};
    border-radius: 3px;
}

.device-desktop .phorge-action-view-href:hover
  .phorge-action-view-icon {
    color: {$sky};
}

.phorge-action-view.action-item-red {
  background-color: {$sh-redbackground};
}

.phorge-action-view.action-item-green {
  background-color: {$sh-greenbackground};
}

.phorge-action-view.action-item-red .phorge-action-view-item,
.phorge-action-view.action-item-red .phorge-action-view-icon {
  color: {$sh-redtext};
}

.phorge-action-view.action-item-green .phorge-action-view-item,
.phorge-action-view.action-item-green .phorge-action-view-icon {
  color: {$sh-greentext};
}

.device-desktop .phorge-action-view.action-item-red:hover
  .phorge-action-view-item,
.device-desktop .phorge-action-view.action-item-red:hover
  .phorge-action-view-icon {
  color: {$red};
}

.device-desktop .phorge-action-view.action-item-green:hover
  .phorge-action-view-item,
.device-desktop .phorge-action-view.action-item-green:hover
  .phorge-action-view-icon {
  color: {$green};
}


.phorge-action-view-label .phorge-action-view-item,
.phorge-action-view-type-label .phorge-action-view-item {
  font-size: {$smallerfontsize};
  font-weight: bold;
  color: {$bluetext};
  padding: 4px 8px 6px 8px;
  display: block;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.phorge-action-view + .phorge-action-view-label {
  padding-top: 8px;
}

.phorge-action-view-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  left: 8px;
  text-align: center;
}

.phorge-action-view-disabled .phorge-action-view-item,
.phorge-action-view-disabled button.phorge-action-view-item {
  color: {$lightgreytext};
}

.phorge-action-view-selected {
  background: {$sh-violetbackground};
  border-radius: 3px;
}

.phorge-action-view-selected:hover a {
  text-decoration: none;
}

.phorge-action-view button[disabled] {
  opacity: 1.0;
}

.device-desktop .phorge-action-view-disabled:hover
  .phorge-action-view-item,
.device-desktop .phorge-action-view-disabled:hover
  button.phorge-action-view-item,
.device-desktop .phorge-action-view-disabled:hover
  .phorge-action-view-icon,
.device-desktop .phorge-action-view-disabled:hover
  button.phorge-action-view-icon {
  color: {$lightgreytext};
}

.phorge-action-view-type-divider {
  margin-top: 8px;
  border-top: 1px solid {$thinblueborder};
}

/******* Sub Menu *************************************************************/

.phorge-action-view-submenu .caret-right {
  position: absolute;
  top: 8px;
  right: 8px;
  border-left-color: {$alphablue};
}

.phorge-action-view-submenu .caret {
  position: absolute;
  top: 10px;
  right: 8px;
  border-top: 7px solid {$lightgreytext};
}

.phorge-action-list-view .phorge-action-view-submenu.phui-submenu-open
  .phorge-action-view-item {
  background-color: rgba({$alphablue}, 0.07);
  color: {$sky};
  border-radius: 3px;
}

.phorge-action-list-view .phorge-action-view-submenu.phui-submenu-open
  .phorge-action-view-item .phui-icon-view {
    color: {$sky};
}

.phui-list-navbar .phui-list-item-href {
  display: inline-block;
}

.phui-list-navbar .phui-list-item-disabled .phui-list-item-href {
  color: {$lightgreytext};
}

.phui-list-navbar .phui-list-item-action-href {
  display: inline-block;
  padding: 8px 16px;
  line-height: 16px;
}

.phui-list-navbar .phui-list-item-action-href .phui-icon-view {
  color: {$darkgreytext};
}

.device-desktop
  .phui-list-navbar .phui-list-item-action-href:hover {
  background-color: rgba({$alphablue}, 0.07);
  color: {$sky};
}

.phui-list-navbar .dropdown-with-caret .phui-list-item-href
   .phui-icon-view {
  margin-left: 12px;
}

.phorge-action-view .keyboard-shortcut-key {
  display: none;
}

.phorge-action-view.has-key-command .keyboard-shortcut-key {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  top: 2px;
  line-height: 12px;
  padding: 4px;
  color: {$greytext};
  background: {$bluebackground};
  border: none;
}

.phorge-action-view.has-key-command .phorge-action-view-item {
  padding-right: 24px;
}
