[Unit]
Description=Phorge Daemons
Documentation=https://we.phorge.it/book/phorge/article/managing_daemons/
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/phorge/environment
User=phd
Group=phd
ExecStart="${PHORGE_ROOT}/bin/phd" start
ExecStop="${PHORGE_ROOT}/bin/phd" stop

Restart=on-failure

[Install]
WantedBy=multi-user.target
