/**
 * @provides diffusion-readme-css
 */

.diffusion-readme-view .phui-document-container {
  border: none;
  padding: 24px 32px;
}

.device .diffusion-readme-view .phui-document-container {
  padding: 8px 16px;
}
