/**
 * @provides phorge-feed-css
 */

.phorge-feed-newer-link {
  float: left;
  font-weight: bold;
}

.phorge-feed-older-link {
  float: right;
  font-weight: bold;
}

.phorge-public-feed-frame .phui-feed-story-foot {
  background: none;
}

.phorge-public-feed-frame .phui-feed-story {
  box-shadow: none;
}

.phorge-public-feed-frame .phui-feed-wrap {
  border: none;
}
