/**
 * @provides font-lato
 * @requires phui-fontkit-css
 */

@font-face {
    font-family: 'Lato';
    src: url(/rsrc/externals/font/lato/lato-regular.woff2)
          format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url(/rsrc/externals/font/lato/lato-italic.woff2)
          format('woff2');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url(/rsrc/externals/font/lato/lato-bold.woff2)
          format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url(/rsrc/externals/font/lato/lato-bolditalic.woff2)
          format('woff2');
    font-weight: bold;
    font-style: italic;

}
