/**
 * @provides maniphest-task-summary-css
 */
.device-phone .maniphest-batch-editor {
  display: none;
}

.maniphest-batch-editor {
  border-top: 1px solid {$thinblueborder};
}

.maniphest-batch-editor-layout {
  display: flex;
  align-items: center;
  gap: 4px;
}

.batch-select-left {
  padding: 12px 4px 8px;
  white-space: nowrap;
  flex-shrink: 0;
}

.maniphest-batch-editor-layout a.button,
.maniphest-batch-editor-layout button {
  margin: 0px 4px;
}

.maniphest-batch-editor-layout .batch-select-submit-cell {
  text-align: right;
  padding: 12px 4px 8px;
  white-space: nowrap;
  flex-shrink: 0;
}

#batch-select-status-cell {
  padding: 12px 4px 8px;
  white-space: nowrap;
  flex-grow: 1;
  text-align: right;
  color: {$greytext};
  font-size: {$smallestfontsize};
}

.maniphest-board-link {
  color: {$bluetext};
}
