/**
 * @provides phorge-main-menu-view
 * @requires phui-theme-css
 */


/* - Main Menu -----------------------------------------------------------------

  Main menu at the top of every page that has chrome. It reacts to resolution
  changes in order to behave reasonably on tablets and phones.

*/

.phorge-main-menu {
  position: relative;
}

.phorge-main-menu-background {
  min-height: 44px;
}

.device-desktop .phorge-main-menu {
  height: 44px;
  padding-right: 4px;
}

.phorge-main-menu a:hover {
  text-decoration: none;
}


/* - Logo ----------------------------------------------------------------------

  The "Phabricator" logo group in the main menu. On tablet and phone devices,
  this shows a "reveal" button to expand/collapse the rest of the menu.

*/

.device-desktop .phorge-main-menu-group-logo {
  float: left;
}

.phorge-main-menu-brand {
  height: 44px;
  float: left;
  margin-right: 6px;
  padding-left: 6px;
}

.phorge-main-menu-project-logo {
  margin: 2px 0;
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  background-image: url(/rsrc/image/logo/project-logo.png);
  background-size: 40px 40px;
}

.device-desktop .phorge-main-menu-brand:hover {
  background-color: rgba({$alphagrey},.2);
  cursor: hand;
}

.device-phone .phorge-wordmark {
  display: none;
}

.phorge-wordmark {
  float: left;
  color: #fff;
  font-size: 18px;
  margin: 9px 4px 9px 6px;
  padding-right: 8px;
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
}

/* - Expand/Collapse Button ----------------------------------------------------

  On phones, the menu switches to a vertical layout and uses a button to expand
  or collapse the items.

*/

.phorge-menu-button-icon {
  width: 20px;
  height: 32px;
  float: left;
  margin: 10px 8px 0 8px;
}

.phorge-menu-button-icon.phui-icon-view {
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: {$hoverwhite};
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
}

.phorge-expand-application-menu,
.phorge-expand-search-menu {
  float: right;
}

.device-desktop .phorge-main-menu-search-button,
.device-desktop .phorge-main-menu-expand-button {
  display: none;
}


/* - Search --------------------------------------------------------------------

  The main search input in the menu bar.

*/

.device-desktop .phorge-main-menu-search {
  width: 298px;
}

.device .phorge-main-menu-search {
  height: 40px;
}

.phorge-main-menu-search-container {
  padding: 8px 0;
  position: relative;
  height: 24px;
  margin: 0 8px 0 0;
}

.phorge-main-menu-search-target {
  position: absolute;
  top: 42px;
}

.device-desktop .phorge-main-menu-search-target {
  width: 360px;
}

.device .phorge-main-menu-search-target {
  width: 100%;
  margin-left: -25px;
}

.device .phorge-main-menu-search-container {
  padding: 4px 0;
  margin: 0 4px;
}

.phorge-main-menu .phorge-main-menu-search input {
  outline: 0;
  margin: 0;
  box-shadow: none;
  transition: none;

  color: {$bluetext};
  width: 100%;
  right: 0;
  position: absolute;
  font-size: {$normalfontsize};
  border: none;
  background-color: {$page.content};
  height: 28px;
  padding: 3px 28px 3px 48px;
  float: left;
  width: 280px;
}

.device .phorge-main-menu-search input {
  height: 32px;
  font-size: {$biggestfontsize};
  width: 100%;
  padding-left: 50px;
  border: 1px solid {$lightblueborder};
}

.phorge-main-menu .phorge-main-menu-search input:focus {
  background: {$page.content};
  opacity: 1;
  color: {$darkbluetext};
  box-shadow: none;
}

.phorge-main-menu-search input.jx-typeahead-placeholder {
  color: {$bluetext};
}

.phorge-main-menu-search button {
  color: {$bluetext};
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  min-width: 0;
  height: 24px;
  width: 28px;
  top: 9px;
  right: -6px;
  margin: 0 8px 0 0;
  padding: 0;
  border-radius: 0;
}

.phorge-main-menu-search button.phorge-main-menu-search-dropdown {
  position: absolute;
  right: auto;
  left: 12px;
  width: 40px;
  background: {$greybackground};
  z-index: 1;
}

.device-desktop .phorge-main-menu-search
  button.phorge-main-menu-search-dropdown {
    height: 24px;
    top: 10px;
    border-radius: 3px;
  }

.device-desktop .phorge-main-menu-search
  button.phorge-main-menu-search-dropdown:hover .phui-icon-view {
    color: {$sky};
}

.device .phorge-main-menu-search
  button.phorge-main-menu-search-dropdown {
    left: 2px;
    background: {$greybackground};
}

button.phorge-main-menu-search-dropdown .caret:before,
a.phorge-core-user-menu .caret:before {
  content: "\f107";
  font-family: FontAwesome;
}

.phorge-main-menu-search button.phorge-main-menu-search-dropdown
  .phui-icon-view {
  color: {$bluetext};
  font-size: 15px;
  top: 4px;
  left: 8px;
  position: absolute;
}

.phorge-main-menu-search-dropdown .caret {
  position: absolute;
  right: 20px;
  top: 2px;
  border: none;
  margin-top: 1px;
}

.phorge-main-menu-search button:hover {
  color: {$sky};
}

.device .phorge-main-menu-search button {
  top: 6px;
  border-radius: 0;
  height: 28px;
  right: -6px;
}

.phorge-main-menu-search-target div.jx-typeahead-results {
  background: {$page.content};
  word-wrap: break-word;
  overflow-y: auto;
  box-shadow: {$dropshadow};
  border: 1px solid {$lightgreyborder};
  border-radius: 3px;
  margin-left: -64px;
}

.device .phorge-main-menu-search-target div.jx-typeahead-results {
  margin-left: 28px;
}

.phorge-main-search-typeahead-result .phorge-search-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 24px;
  text-align: center;
  vertical-align: bottom;
}

.phorge-main-search-typeahead-result {
  display: block;
  padding: 6px 8px 8px 44px;
  background-position: 8px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: relative;
}

.phorge-main-search-typeahead-result .result-name {
  display: block;
  font-size: {$normalfontsize};
  font-weight: bold;
  color: {$darkgreytext};
}

.phorge-main-search-typeahead-result.result-closed {
  opacity: .8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.phorge-main-search-typeahead-result.result-closed
  .result-name {
  text-decoration: line-through;
  color: {$lightgreytext};
}

.phorge-main-search-typeahead-result.has-image {
  padding-left: 48px;
}

.phorge-main-search-typeahead-result .result-type {
  color: {$lightgreytext};
  font-size: {$smallestfontsize};
  font-weight: normal;
}

.device .phorge-application-menu-expanded.phorge-search-menu-expanded
 .phorge-search-menu {
  padding: 0;
}

.device-phone .phorge-main-search-typeahead-result .result-name {
  font-size: {$biggestfontsize};
}

.device-phone .phorge-main-search-typeahead-result .result-type {
  font-size: {$normalfontsize};
}


/* - Alert ---------------------------------------------------------------------

  Alert menus are like icon menus but don't obey collapse rules.

*/

.phorge-main-menu-alerts {
  display: inline-block;
  float: left;
  padding: 4px 0;
}

.alert-notifications {
  float: left;
}

.alert-notifications .phui-icon-view {
  color: {$hoverwhite};
}

.device-desktop .alert-notifications:hover {
  margin-top: -2px;
  transition-duration: .2s;

  /* See T13508. Avoid animation flickering behavior if the user's cursor is
     at the very bottom of the element. */
  padding-bottom: 2px;
}

.device-desktop .alert-notifications:hover .phui-icon-view {
  color: #fff;
}

.phorge-main-menu-alert-icon,
.phorge-main-menu-message-icon,
.phorge-main-menu-setup-icon {
  width: 18px;
  height: 18px;
  float: left;
  padding: 8px 6px 8px 4px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
}

.phui-icon-view.menu-icon-selected {
  color: #fff;
}

.phorge-main-menu-alert-icon {
  font-size: 16px;
  margin-top: 2px;
}

.setup-unread .phui-icon-view.phorge-main-menu-setup-icon {
  color: #ecf36c;
  font-size: 16px;
  margin-top: 2px;
  width: 15px;
}

.setup-unread .phorge-main-menu-setup-count {
  color: #ecf36c;
  margin-top: 10px;
}

.device-desktop .alert-notifications.setup-unread:hover .phui-icon-view {
  color: #ecf36c;
}

.phorge-main-menu-alert-count,
.phorge-main-menu-message-count,
.phorge-main-menu-setup-count {
  color: #fff;
  text-align: center;
  display: none;
  float: left;
  margin: 11px 6px 0 -2px;
  font-size: {$smallerfontsize};
}

.device-phone .alert-unread .phorge-main-menu-alert-count,
.device-phone .message-unread .phorge-main-menu-message-count,
.device-phone .setup-unread .phorge-main-menu-setup-count {
  display: none;
}

.alert-unread .phorge-main-menu-alert-icon,
.message-unread .phorge-main-menu-message-icon,
.setup-unread .phorge-main-menu-setup-icon {
  color: #fff;
}

.alert-unread .phorge-main-menu-alert-count,
.message-unread .phorge-main-menu-message-count,
.setup-unread .phorge-main-menu-setup-count {
  display: block;
}


/* - Core Menu -----------------------------------------------------------------

  Styles unique to the core menu (left button on mobile).

*/

.device .phorge-search-menu {
  display: none;
}

.device-desktop .phorge-search-menu {
  float: right;
}

.device .phorge-search-menu-expanded .phorge-search-menu {
  display: block;
  position: absolute;
  top: 38px;
  left: 8px;
  right: 8px;
  border: 1px solid {$lightblueborder};
  border-radius: 3px;
  box-shadow: {$dropshadow};
  background: {$page.background};
}

.device-desktop .phorge-application-menu {
  float: right;
}

.device-desktop .phorge-application-menu .phui-list-item-view,
.device-desktop .phorge-application-menu .phui-list-item-name  {
  display: none;
}

.phorge-application-menu .phui-list-item-href {
  display: block;
}

.phorge-application-menu .phui-list-item-icon.phui-font-fa {
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: {$hoverwhite};
  margin: 8px;
  text-align: center;
  vertical-align: middle;
}

.device .phorge-application-menu .phui-list-item-icon.phui-font-fa {
  margin: 4px 12px 4px 0;
}

.phorge-application-menu .phui-list-item-icon.fa-plus {
  line-height: 22px;
}

.device-desktop .phorge-application-menu
  .core-menu-item.phui-list-item-view:hover
  .phui-list-item-icon.phui-font-fa {
    color: #fff;
  }

.device-desktop .phorge-application-menu
  .phui-list-item-view.core-menu-item {
  display: block;
}

.device-desktop .phorge-application-menu .phui-list-item-view {
  float: left;
  position: relative;
  min-width: 36px;
  height: 36px;
  margin-top: 4px;
}

.device-desktop .phorge-core-menu-icon {
  top: 4px;
  left: 4px;
}

.device .phorge-core-menu-icon {
  left: 16px;
  height: 24px;
  width: 24px;
  background-size: 24px;
  margin: 2px;
}

.phorge-core-menu-icon {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
}

.phorge-main-menu-dropdown.phui-list-sidenav {
  position: absolute;
  background: #fff;
  top: 42px;
  padding: 6px 0;
  margin: 0 20px 0 0;
  box-shadow: {$dropshadow};
  border: 1px solid {$lightblueborder};
  border-radius: 3px;
}

.phorge-main-menu-dropdown.phui-list-sidenav .phui-list-item-has-icon
  .phui-list-item-href {
    padding: 4px 40px 4px 12px;
    white-space: nowrap;
}

.phorge-main-menu-dropdown.phui-list-sidenav .phui-list-item-type-label
  .phui-list-item-name {
    padding-left: 12px;
}

/* - User Menu -----------------------------------------------------------------

  Styles unique to the user profile menu.

*/

.phorge-core-user-menu {
  float: right;
  display: inline-block;
  padding: 9px 24px 0 8px;
  height: 35px;
  position: relative;
}

.phorge-core-user-mobile-menu {
  display: none;
}

.phorge-core-user-menu span.phui-icon-view.phuihead-small {
  height: 24px;
  width: 24px;
  background-size: 24px;
  border-radius: 3px;
  display: inline-block;
  margin: 1px 0 0 0;
}

.phorge-core-user-menu .phui-icon-view {
  color: {$hoverwhite};
  font-size: 18px;
  margin: 4px 0 0 0;
}

.phorge-core-user-menu .caret {
  position: absolute;
  right: 17px;
  top: 13px;
  border: none;
  margin: 1px;
  color: {$hoverwhite};
}

.phorge-core-login-button {
  float: right;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 3px;
  margin: 8px 6px 4px;
  border: 1px solid {$hoverwhite};
  color: {$hoverwhite};
}

.device-desktop .phorge-core-login-button:hover {
  border: 1px solid #fff;
  color: #fff;
}

.device-desktop .phorge-core-user-menu:hover .caret,
.device-desktop .phorge-core-user-menu:hover .phui-icon-view {
  color: #fff;
}

.device .phorge-core-user-menu .caret {
  display: none;
}

.device .phorge-core-user-mobile-menu {
  display: block;
}

.device .phorge-core-user-menu {
  padding: 9px 8px 0 8px;
}

.device .phorge-core-user-menu .phui-icon-view {
  font-size: 20px;
  margin: 3px 0 0 0;
}

ul.phorge-core-user-profile-object .phui-oi-objname {
  font-size: {$biggestfontsize};
}

ul.phorge-core-user-profile-object li.phui-oi,
ul.phorge-core-user-profile-object .phui-oi-name,
ul.phorge-core-user-profile-object .phui-oi-content,
ul.phorge-core-user-profile-object .phui-oi-subhead {
  padding: 0;
  margin: 0;
  background: transparent;
}

ul.phorge-core-user-profile-object.phui-oi-list-simple .phui-oi-image {
  height: 36px;
  width: 36px;
}

ul.phorge-core-user-profile-object.phui-oi-list-simple
  .phui-oi-content-box {
    margin-left: 44px;
}



/* - Print ---------------------------------------------------------------------
*/

!print .phorge-main-menu {
  display: none;
}
