/**
 * @provides phorge-notification-menu-css
 */

.phorge-notification-menu {
  background: {$page.content};
  font-size: {$smallerfontsize};
  line-height: 18px;
  word-wrap: break-word;
  overflow-y: auto;
  box-shadow: {$dropshadow};
  border: 1px solid {$lightgreyborder};
  border-radius: 3px;
}

.phorge-notification {
  padding: 8px 12px;
  color: {$darkgreytext};
}

.phorge-notification-menu-loading {
  text-align: center;
  padding: 10px 0;
  color: {$lightgreytext};
}

.device-desktop .phorge-notification-menu,
.device-tablet .phorge-notification-menu {
  position: absolute;
  width: 360px;
  top: 42px;
}

.device-phone .phorge-notification-menu {
  border-bottom: 1px solid {$thinblueborder};
  width: 94%;
  max-width: 390px;
  top: 42px !important;
  left: 3% !important;
  position: absolute;
}

.phorge-notification-list.pm {
  padding: 0;
}

.phorge-notification-list .phorge-notification {
  padding: 8px;
}

.phorge-notification-menu .phorge-notification {
  cursor: pointer;
}

.device-desktop .phorge-notification-menu .phorge-notification:hover {
  background: {$lightgreybackground};
}

.device-desktop .phorge-notification-menu
 .phorge-notification-unread.phorge-notification:hover {
  background: {$hoverselectedblue};
}

.phorge-notification + .phorge-notification {
  border-top: 1px solid {$thinblueborder};
}

.no-notifications {
  color: {$lightgreytext};
}

.phorge-notification-warning {
  background: {$sh-yellowbackground};
}

.phorge-notification-list .phorge-notification-unread,
.phorge-notification-menu .phorge-notification-unread {
  background: {$hoverblue};
}

.phorge-notification-read {
  color: {$lightgreytext};
}

.phorge-notification-foot {
  color: {$lightgreytext};
  font-size: {$smallestfontsize};
  line-height: 18px;
  position: relative;
}

.phorge-notification-unread .phorge-notification-foot {
  padding-left: 10px;
}

.phorge-notification-foot .phorge-notification-status {
  display: none;
}

.phorge-notification-unread .phorge-notification-foot
  .phorge-notification-status {
    font-size: 7px;
    color: {$lightbluetext};
    position: absolute;
    display: inline-block;
    top: 6px;
    left: 0;
}

.phorge-notification-header {
  font-weight: bold;
  padding: 10px 12px;
  font-size: {$smallerfontsize};
  border-bottom: 1px solid {$thinblueborder};
}

.phorge-notification-header a {
  color: {$anchor};
}

.phorge-notification-header a:hover {
  text-decoration: underline;
}

.phorge-notification-header .phorge-notification-clear-all {
  color: {$anchor};
  float: right;
  font-weight: normal;
}

.phorge-notification-footer {
  background: {$greybackground};
  border-top: 1px solid {$thinblueborder};
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
  font-size: {$smallerfontsize};
  color: {$darkgreytext};
}

.phorge-notification-footer a {
  color: {$darkgreytext};
}

.phorge-notification-footer a:hover {
  text-decoration: underline;
}

.phorge-notification-menu .aphlict-connection-status {
  color: {$lightgreytext};
}

.aphlict-connection-status {
  position: relative;
}

.aphlict-connection-status .phui-icon-view {
  font-size: 9px;
  position: absolute;
  top: 4px;
}

.aphlict-connection-status .connection-status-text {
  margin-left: 12px;
}

.phorge-notification .phui-timeline-value {
  font-style: italic;
  color: #000;
}
