/**
 * @provides phui-theme-css
 */

/*--- Header Colors ----------------------------------------------------------*/

.phui-theme-blindigo .phorge-main-menu-background {
  background: #4a5f88;
}

.phui-theme-dark .phorge-main-menu-background {
  background: #171c20;
}

.phui-theme-indigo .phorge-main-menu-background {
  background: #2C1D4A;
}

.phui-theme-red .phorge-main-menu-background {
  background: #650404;
}

.phui-theme-blue .phorge-main-menu-background {
  background: #003965;
}

.phui-theme-green .phorge-main-menu-background {
  background: #124A1B;
}

