/**
 * @provides phabricator-ui-example-css
 */

.phui-example-icon-name {
  display: inline-block;
  width: 180px;
  padding-bottom: 8px;
  white-space: nowrap;
}

.phui-icon-view.phui-example-icon-transform {
  display: block;
  padding-bottom: 8px;
}
