/**
 * @provides phabricator-ui-example-css
 */

.phabricator-ui-example-note {
  padding: .5em;
  margin: 2em 1em 0.5em;
  background: #ffffdd;
  border: 1px solid #f5e178;
}

.phabricator-ui-example-note tt {
  font-weight: bold;
}

.phui-example-icon-name {
  display: inline-block;
  width: 180px;
  padding-bottom: 8px;
  white-space: nowrap;
}

.phui-icon-view.phui-example-icon-transform {
  display: block;
  padding-bottom: 8px;
}
